<main>
    <section id="chat"> 
        <h1>{{nickname}}'s chat</h1>
        <ul></ul>
        <p id="typing"></p>
        <form>
            <input type="text" autocomplete="off" placeholder="Type a message">
            <button type="submit">
                <img src="images/sent.png">
            </button>
        </form>
    </section>
</main>