<section id="chat"> 
    <h1><span id="nickname">{{nickname}}</span>'s chat</h1>
    <ul></ul>
    <p id="typing"></p>
    <form>
        {{!-- https://stackoverflow.com/questions/13766015/is-it-possible-to-configure-a-required-field-to-ignore-white-space --}}
        <input type="text" autocomplete="off" placeholder="Type a message" pattern=".*\S+.*" required>
        <button type="submit">
            <img src="images/sent.png">
        </button>
    </form>
</section>