<div id="enrollment">
    <section>
        <h1>Enter your name</h1>
        <form action="/" method="post">
            {{!-- https://stackoverflow.com/questions/13766015/is-it-possible-to-configure-a-required-field-to-ignore-white-space --}}
            <input type="text" name="name" placeholder="Name" maxlength="15" pattern=".*\S+.*" required>
            <button type="submit">
                <img src="images/sent.png">
            </button>
        </form>
    </section>
</div>