<main>
    <section> 
        <h1>Channe</h1>
        <ul></ul>
        <p id="typing"></p>
        <form>
            <input type="text" autocomplete="off">
            <button type="submit">
                <img src="images/sent.png">
            </button>
        </form>
    </section>
</main>