<main>
    <section id="enrollment">
        <h1>Choose a nickname</h1>
        <form action="/" method="post">
            <input type="text" name="nickname" placeholder="Nickname">
            <button type="submit">
                <img src="images/sent.png">
            </button>
        </form>
    </section>
</main>