<h1>{{name}}</h1>
<div id="trivia">
    <section>
        <h2>Trivia</h2>
        <div id="question-answers">
            <div id="overlay">
                <div>
                    <div id="loader"></div>
                    <p></p>
                </div>
            </div>
            <p id="question"></p>
            <div id="answers">
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>
        <form id="category" action="/" method="post">
            <label for="category">Category</label>
            <select name="category">
                <option value="any"{{#ifCond category "any"}} selected{{/ifCond}}>Any</option>
                <option value="9"{{#ifCond category "9"}} selected{{/ifCond}}>General Knowledge</option>
                <option value="10"{{#ifCond category "10"}} selected{{/ifCond}}>Entertainment: Books</option>
                <option value="11"{{#ifCond category "11"}} selected{{/ifCond}}>Entertainment: Film</option>
                <option value="12"{{#ifCond category "12"}} selected{{/ifCond}}>Entertainment: Music</option>
                <option value="13"{{#ifCond category "13"}} selected{{/ifCond}}>Entertainment: Musicals &amp; Theatres</option>
                <option value="14"{{#ifCond category "14"}} selected{{/ifCond}}>Entertainment: Television</option>
                <option value="15"{{#ifCond category "15"}} selected{{/ifCond}}>Entertainment: Video Games</option>
                <option value="16"{{#ifCond category "16"}} selected{{/ifCond}}>Entertainment: Board Games</option>
                <option value="17"{{#ifCond category "17"}} selected{{/ifCond}}>Science &amp; Nature</option>
                <option value="18"{{#ifCond category "18"}} selected{{/ifCond}}>Science: Computers</option>
                <option value="19"{{#ifCond category "19"}} selected{{/ifCond}}>Science: Mathematics</option>
                <option value="20"{{#ifCond category "20"}} selected{{/ifCond}}>Mythology</option>
                <option value="21"{{#ifCond category "21"}} selected{{/ifCond}}>Sports</option>
                <option value="22"{{#ifCond category "22"}} selected{{/ifCond}}>Geography</option>
                <option value="23"{{#ifCond category "23"}} selected{{/ifCond}}>History</option>
                <option value="24"{{#ifCond category "24"}} selected{{/ifCond}}>Politics</option>
                <option value="25"{{#ifCond category "25"}} selected{{/ifCond}}>Art</option>
                <option value="26"{{#ifCond category "26"}} selected{{/ifCond}}>Celebrities</option>
                <option value="27"{{#ifCond category "27"}} selected{{/ifCond}}>Animals</option>
                <option value="28"{{#ifCond category "28"}} selected{{/ifCond}}>Vehicles</option>
                <option value="29"{{#ifCond category "29"}} selected{{/ifCond}}>Entertainment: Comics</option>
                <option value="30"{{#ifCond category "30"}} selected{{/ifCond}}>Science: Gadgets</option>
                <option value="31"{{#ifCond category "31"}} selected{{/ifCond}}>Entertainment: Japanese Anime &amp; Manga</option>
                <option value="32"{{#ifCond category "32"}} selected{{/ifCond}}>Entertainment: Cartoon &amp; Animations</option>
            </select>
            <input type="submit" class="hide"></input>
        </form>
        <form id="difficulty" action="/" method="post">
            <label for="difficulty">Difficulty</label>
            <select name="difficulty">
                <option value="any"{{#ifCond difficulty "any"}} selected{{/ifCond}}>Any</option>
                <option value="easy"{{#ifCond difficulty "easy"}} selected{{/ifCond}}>Easy</option>
                <option value="medium"{{#ifCond difficulty "medium"}} selected{{/ifCond}}>Medium</option>
                <option value="hard"{{#ifCond difficulty "hard"}} selected{{/ifCond}}>Hard</option>
            </select>
        </form>
    </section>
    <div id="players-chat">
        <section id="players">
            <h2>Players</h2>
            <p id="connected"></p>
            <ul></ul>
        </section>
        <section id="chat">
            <h2>Chat</h2>
            <span id="spacing"></span>
            <ul></ul>
            <p id="typing"></p>
            <form>
                {{!-- https://stackoverflow.com/questions/13766015/is-it-possible-to-configure-a-required-field-to-ignore-white-space --}}
                <input type="text" autocomplete="off" placeholder="Type a message" maxlength="280" pattern=".*\S+.*" required>
                <button type="submit">
                    <img src="images/sent.png">
                </button>
            </form>
        </section>
    </div>
</div>