<section id="trivia"> 
    <h1><span id="name">{{name}}</span>'{{#if s}}s{{/if}} trivia</h1>
    <p id="connected"></p>
    <p id="question"></p>
    <div id="answers">
        <button id="correct"></button>
        <button id="incorrect"></button>
        <button id="incorrect"></button>
        <button id="incorrect"></button>
    </div>
</section>