* {
    box-sizing: border-box;
}

body {
    background: #f5f7fb;
    font-family: Poppins, system-ui;
}

body > div {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 {
    text-align: center;
}

section {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 25px;
    padding: 20px;
}

#enrollment section {
    height: fit-content;
    margin: 0 auto;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

form input {
    font-family: Poppins, system-ui;
    font-size: medium;
    background: #f5f7fb;
    border: none;
    border-radius: 25px;
    width: 90%;
    padding: 15px 25px;
}

form button {
    height: 50px;
    width: 50px;
    background: #3aa68b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

form button img {
    height: 20px;
}

#connected span {
    height: 10px;
    width: 10px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    animation: pulse 1s linear 0s infinite alternate;
    margin-right: 5px;
}

@keyframes pulse {
    from {
        background: green;
    }
    to {
        background-color: #40a040;
    }
}

#answers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#answers button {
    color: white;
    font-family: Poppins, system-ui;
    font-size: normal;
    font-weight: bold;
    background: slateblue;
    transition: background .3s ease-in-out;
    border: none;
    border-radius: 10px;
    flex: 48%;
    cursor: pointer;
    padding: 50px 10px;
}

#answers button:disabled {
    background: grey;
    transition: background .3s ease-in-out;
    cursor: auto;
}

#answers button:enabled:hover {
    background: #594cac;
    transition: background .3s ease-in-out;
}

#answers button.green {
    background: green;
    transition: background .3s ease-in-out;
}

#answers button.red {
    background: red;
    transition: background .3s ease-in-out;
}

#chat {
    display: flex;
    flex-direction: column;
}

#spacing {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    overflow: scroll;
    padding-left: 0;
    margin: 0;
}

li {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

li #user {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

li.self #user {
    display: none;
}

li.multiple #user {
    visibility: hidden;
}

li #user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline;
    margin: 0 auto;
}

li #user p {
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
}

li #message {
    color: black;
    background: #f5f7fb;
    border-radius: 0 25px 25px 25px;
    width: 50%;
    padding: 25px;
}

li.self #message {
    color: white;
    background: #4d426d;
    border-radius: 25px 0 25px 25px;
    margin-left: auto;
}

li #message p {
    word-break: break-word;
    display: inline;
    margin: 0;
}

li #message #time {
    color: grey;
    font-size: smaller;
    float: right;
}

li.self #message #time {
    color: lightgrey;
}

#typing {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25px;
}

/* Laptop */
@media only screen and (min-width: 1024px) {
    section {
        width: 70%;
    }

    input {
        width: 70%;
    }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {
    section {
        width: 50%;
    }

    input {
        width: 50%;
    }
}