* {
    box-sizing: border-box;
}

body {
    background: #f5f7fb;
    font-family: Akzentica4F, system-ui;
    margin: 0 auto;
}

section {
    width: 90%;
    background: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin: 0 auto;
}

input {
    font-size: medium;
}

#enrollment input {
    flex-grow: unset;
    width: 90%;
}

#chat {
    height: 90%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#spacing {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    overflow: scroll;
    padding-left: 0;
    margin: 0;
}

li {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

li #user {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

li.self #user {
    display: none;
}

li.multiple #user {
    visibility: hidden;
}

li #user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline;
    margin: 0 auto;
}

li #user p {
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
}

li #message {
    color: black;
    background: #f5f7fb;
    border-radius: 0 25px 25px 25px;
    width: 50%;
    padding: 25px;
}

li.self #message {
    color: white;
    background: #4d426d;
    border-radius: 25px 0 25px 25px;
    margin-left: auto;
}

li #message p {
    word-break: break-word;
    display: inline;
    margin: 0;
}

li #message #time {
    color: grey;
    font-size: smaller;
    float: right;
}

li.self #message #time {
    color: lightgrey;
}

#typing {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25px;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

form input {
    font-family: Akzentica4F, system-ui;
    background: #f5f7fb;
    border: none;
    border-radius: 25px;
    flex-grow: 1;
    padding: 15px 25px;
}

form button {
    height: 50px;
    width: 50px;
    background: #3aa68b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

form button img {
    height: 20px;
}

/* Laptop */
@media only screen and (min-width: 1024px) {
    section {
        width: 70%;
    }

    #enrollment input {
        width: 70%;
    }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {
    section {
        width: 50%;
    }

    #enrollment input {
        width: 50%;
    }
}